
.navBar-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navBar-nested{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBar{
    margin: 0;
    padding: 0;
    background-color: #e9e0e0;

}
